<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/w3.css">
    <link rel="stylesheet" type="text/css" href="/css/w3-theme-enslin.css">
    <script src="/js/script.js"></script>
  </head>
  <body class="w3-theme w3-animate-opacity">
    <header class="w3-theme-dark w3-container w3-card-8">
      <h4>Enslin Application Template</h4>
    </header>
    <div class="w3-container w3-padding-16">
      <button class="w3-theme-light w3-card-4 w3-btn" onclick="helloAction()" id="helloButton">
        <strong>{{message}}</strong>
      </button>
    </div>
  </body>
</html>
