<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/res/css/w3.css">
    <script src="/res/js/script.js"></script>
  </head>
  <body class="w3-dark-grey w3-animate-opacity">
    <header class="w3-container w3-red w3-card-8">
      <h4>Enslin Application Template</h4>
    </header>
    <div class="w3-container w3-padding-16">
      <button class="w3-btn" onclick="helloAction()" id="helloButton">
        {{message}}
      </button>
    </div>
  </body>
</html>
