.w3-theme {color:#999999 !important;background-color:#272727 !important}
.w3-theme-light {color:#131313 !important;background-color:#999999 !important}
.w3-theme-dark {color:#999999 !important;background-color:#131313 !important}
